*{
    margin: 0px;
}

body{
    background-color: black;
}

.font{
    font-family: 'Noto Sans JP', sans-serif;
}


.topbar{
    background-color:orange;
    padding-bottom: 35px;
}


.homebtn{
    text-decoration: none;
    color: black;
    font-size: 100px;
    text-align: center;
    margin-left: 210px;
    margin-top: 60px;
}

.logo{
    position: absolute;
    top: -15px;
    padding: 5px;
}

.home{
    text-decoration:none;
    
    color:coral;
    background-color: black;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    font-size: 25px;
    position: absolute;
    top:10px;
    left: 69.8%;
    transition-property: color;
    transition: 0.5s;
    
}

.home:hover{
    color: white;
    background-color:darkkhaki;
}



.packs{
    text-decoration: none;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    color: black;
    position: absolute;
    left: 75.7%;
    top: 11px;
    background-color: white;
    border-radius: 10px;
    transition-property: color;
    transition: 0.5s;
}

.packs:hover{
    background-color:cornflowerblue;
    color: aqua;
}


.mods{
    text-decoration: none;
    color: black;
    position: absolute;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    color: black;
    position: absolute;
    left: 84.7%;
    top: 11px;
    background-color: white;
    transition-property: color;
    transition: 0.5s;
}

.mods:hover{
    background-color:cornflowerblue;
    color: aqua;
}

.about-us{
    text-decoration: none;
    color: black;
    position: absolute;
    padding-top: 11px;
    padding-bottom: 8px;
    padding-right: 12px;
    padding-left: 12px;
    color: black;
    position: absolute;
    left: 89.1%;
    top: 11px;
    background-color: white;
    transition-property: color;
    transition: 0.5s;
}

.about-us:hover{
    background-color:cornflowerblue;
    color: aqua;
}

.bacons-texture-pic{
    position: absolute;
    top: 250px;
    left: 20px;
    width: 1000px;
    height: 500px;
}

.bacons-texture-pack-text{
    position: absolute;
    top: 82%;
    left: 20px;
    font-size: 60px;
    color: white;
}

.ver{
    position: absolute;
    top: 91%;
    left: 35%;
    font-size: 25px;
    color: skyblue;
}

.reso{
    position: absolute;
    top: 96%;
    left: 35%;
    font-size: 25px;
    color: skyblue;
}

.down-btn{
    position: absolute;
    top: 50%;
    left: 60%;
    text-decoration: none;
    color: white;
    background-color: turquoise;
    font-size: 40px;;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 25px;
    padding-left: 25px;
}


.balcons-texture-pack-desc{
    position: absolute;
    top: 115%;
    left: 25px;
    color: wheat;
    background-color: black;
    padding-bottom: 50px;
    font-size: 50px;
}